@import '@carbon/themes/scss/themes';
@import './typography.scss';
@import './white.scss';

$carbon--theme: $milliman--theme--white;

.bx--header { background-color: #39414D !important; }
.bx--header__action--active { border-bottom: 1px solid #39414D !important; }
.bx--skip-to-content:focus { background-color: #39414D !important; }

@include carbon--theme();

@import "carbon-components/scss/globals/scss/styles.scss";